{% extends 'administration/main_administration.html' %}

{% block title %}
НАУЧНО-ТЕХНИЧЕСКАЯ ЧАСТЬ ПРОЕКТА
{% endblock %}

{% block body %}
<style>
textarea {
  font-size: 16px;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;


}
legend {

  font-size: 24px;
}


form {
  padding: 40px;
}



</style>
<div class="form-container">

  <form method="POST" >

      <h3>НАУЧНО-ТЕХНИЧЕСКАЯ ЧАСТЬ ПРОЕКТА</h3>
      <fieldset>
          <legend>Цель выполнения работы:</legend>
          <textarea rows="4" cols="50" id="goal" name="goal">{{ application.purpose_project }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Задачи по проекту:</legend>
          <textarea rows="4" cols="50" id="tasks" name="tasks">{{ application.project_tasks }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Назначение научно-технического продукта:</legend>
          <textarea rows="4" cols="50" id="purpose" name="purpose">{{ application.product_purpose }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Научная новизна предлагаемая в проекте решений:</legend>
          <textarea rows="4" cols="50" id="novelty" name="novelty">{{ application.scientific_novelty }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Обоснования необходимости проведения НИР:</legend>
          <textarea rows="4" cols="50" id="justification" name="justification">{{ application.rationale_conducting_research }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Основные технические параметры, определяющие количественные, качественные и стоимостные характеристики продукции (в сопоставлении с существующими аналогами, в т.ч. мировыми):</legend>
          <textarea rows="4" cols="50" id="tech_params" name="tech_params">{{ application.main_technical_parameters }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Конструктивные требования (включая технологические требования, требования по надежности, эксплуатации, техническому обслуживанию, ремонту, хранению, упаковке, маркировке и транспортировке):</legend>

          <textarea rows="4" cols="50" id="constructive_requirements" name="constructive_requirements">{{ application.design_requirements }}</textarea>
      </fieldset>
      <fieldset>
          <legend>Требования по патентной защите (наличие патентов), существенные отличительные признаки создаваемого продукта (технологии) от имеющихся, обеспечивающие ожидаемый эффект:</legend>

        <textarea rows="4" cols="50" id="patent_requirements" name="patent_requirements">{{ application.patent_requirements }}</textarea>
      </fieldset>
    <h3>КОММЕРЦИАЛИЗУЕМОСТЬ НАУЧНО-ТЕХНИЧЕСКИХ РЕЗУЛЬТАТОВ</h3>
    <fieldset>
       <legend>Область применения: </legend>
      <textarea id="field9" name="field9" rows="4" cols="50">{{ application.application_area }}</textarea><br>
    </fieldset>
    <fieldset>
       <legend>Объём внебюджетных инвестиций, собственных средств и иных источников, источники средств и формы их получения, распределение по статьям: </legend>
      <textarea id="field10" name="field10" rows="4" cols="50">{{ application.volume_off_budget_investments }}</textarea><br>
    </fieldset>
    <fieldset>
       <legend>Имеющиеся аналоги: </legend>
      <textarea id="field11" name="field11" rows="4" cols="50">{{ application.available_analogues }}</textarea><br>
    </fieldset>
    <fieldset>
       <legend>План коммерциализации проекта: </legend>
      <textarea id="field12" name="field12" rows="4" cols="50">{{ application.project_commercialization_plan }}</textarea><br>
    </fieldset>
    <h3>Оценка работы</h3>
    <fieldset>
      <legend>Оценка за научно-техническую часть </legend>
      <textarea id="field12" name="field13" rows="4" cols="20">{{ application.job_evaluation }}</textarea><br>
    </fieldset>
    <input type="submit" value="Оценить">
  </form>
</div>

{% endblock %}