.form-group {
  width: 300px;
}

.panel-default {
  display: flex;
  justify-content: center;
  width: 100%;
}


.panel-heading {
  display: flex;
  justify-content: center;
  width: 100%;
}
