{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}

<style>
  .form-input {
    display: block;
  }
.requests-container {
  margin-left: 200px;
}

.requests-container p {
  font-weight: bold;
  margin-bottom: 5px;
}

</style>

<div class="container mt-5 d-flex flex-row">
  <div class="form-container">
    <form method="POST" action="/private_office">
      <label>Имя:</label>
      <input type="text" name="name" value="{{ profile.name }}" class="form-input">
      <label>Фамилия:</label>
      <input type="text" name="surname" value="{{ profile.surname }}" class="form-input">
      <label>Отчество:</label>
      <input type="text" name="patronymic" value="{{ profile.patronymic }}" class="form-input">
      <label>Возраст:</label>
      <input type="text" name="old" value="{{ profile.old }}" class="form-input">
      <label>Город:</label>
      <input type="text" name="city" value="{{ profile.city }}" class="form-input">
      <label>Учебное заведение:</label>
      <input type="text" name="educational_institution" value="{{ profile.educational_institution }}" class="form-input">
      <label>Email:</label>
      <input type="text" name="email" value="{{ user.email }}" class="form-input">
      <label>Номер телефона:</label>
      <input type="text" name="phone_number" value="{{ profile.phone_number }}" class="form-input">
      <button type="submit" class='btn btn-success'>Сохранить</button>
    </form>
  </div>
</div>
{% endblock %}