{% extends 'base.html' %}

{% block title %}
Заявление на участие в олимпиаде
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/сompetition_application.css') }}">
<div class="container mt-5">
    <h1>{{ olympiad.title }}</h1>
  <body>
    <h2>Заявка на участие в олимпиаде</h2>
    <form>
      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" required><br><br>

      <label for="surname">Фамилия:</label>
      <input type="text" id="surname" name="surname" required><br><br>

      <label for="patronymic">Отчество:</label>
      <input type="text" id="patronymic" name="patronymic"><br><br>

      <label for="city">Город:</label>
      <input type="text" id="city" name="city" required><br><br>

      <label for="university">Учебное заведение:</label>
      <input type="text" id="university" name="university" required><br><br>

      <label for="phone">Номер телефона:</label>
      <input type="tel" id="phone" name="phone" required><br><br>

      <input type="submit" value="Отправить заявку">
    </form>
  </body>
</div>
{% endblock %}