{% extends 'admin/main_admin.html' %}

{% block title %}
Все пользователи
{% endblock %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Электронная почта</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Город</th>
            <th>Дата</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            {% if user.id in profiles %}
            {% set profile = profiles[user.id] %}
            <td>{{ profile.name }}</td>
            <td>{{ profile.old }}</td>
            <td>{{ profile.city }}</td>
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
            <td>{{ user.date.date() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}