{% extends 'admin/main_admin.html' %}

{% block title %}
Полное удаление пользователя
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Вы уверены что хотите удалить/редактировать этого пользователя?</h1>
    <p>Email: {{ user.email }}</p>
    <p>Имя: {{ profile.name }}</p>
    <p>Возраст: {{ profile.old }}</p>
    <p>Город: {{ profile.city }}</p>
    <a href="/admin/list_of_users/{{ user.id }}/delete" class='btn btn-danger'>Удалить</a>
  <a href="/admin/list_of_users/{{ user.id }}/update" class='btn btn-success'>Редактировать</a>
</div>
{% endblock %}
