{% extends 'admin/main_admin.html' %}

{% block title %}
Обновление соревнования
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Обновление соревнования</h1>
    <form method="post">
        <input type = 'text' name = 'title' id = 'title' class = 'form-control' value="{{ olympiad.title }}"><br>
        <textarea  name = 'introduction' id = 'text' class = 'form-control' >{{ olympiad.introduction }}</textarea><br>
        <textarea  name = 'text' id = 'text' class = 'form-control'  rows="10" cols="50" > {{ olympiad.text }}</textarea><br>
        <input  type = 'submit' class = 'btn btn-success' value="Обновить">
    </form>
</div>
{% endblock %}